:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body{
  font-family: "Raleway", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Sen', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-blue{
  color: var(--lightBlue)
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border:0.1rem solid blue  !important;

}

.btn-black:hover{
  background: lightblue !important;
  color: white !important;
}

.cart-icon{
  cursor:pointer;
  font-size:1.2 rem;
  color: yellow;

}